
<div class="copyright-date"> 
<p class="copyright-date-text">
    <% let today = new Date();%> 
    <% let year = today.getFullYear(); %>
    <!-- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getFullYear 
        getYear() Depreciated?-->
    <%= year %>  
    Made by mapopo2
    <a href="https://github.com/mapopo2" class="icons">
        <i class="fa-brands fa-github fa-2xl" style="color: #ffffff;"></i>
    </a>
</p>
</div>
