#images
weather*app*example.jpg/

Build-A-Weather-App-in-HTML-CSS-and-JavaScript-Weather-App-Project-HTML-CSS-and-JavaScript
#https://www.reddit.com/r/Unity3D/comments/64egc8/gitignore_entire_directory_with_whitespace_in_name/