<%- include ("partials/header.ejs");-%>
    <body>
        
            <div class="cloud cloud-one"><i class="fa-solid fa-cloud fa-2xl cloudy" style="color: #dce1ea;"></i></div>
            <div class="cloud cloud-two"><i class="fa-solid fa-cloud fa-2xl cloudy" style="color: #dce1ea;"></i></div>
            <div class="cloud cloud-three"><i class="fa-solid fa-cloud fa-2xl cloudy" style="color: #dce1ea;"></i></div>
            <div class="cloud cloud-four"><i class="fa-solid fa-cloud fa-2xl cloudy" style="color: #dce1ea;"></i></div>
            <div class="cloud cloud-five"><i class="fa-solid fa-cloud fa-2xl cloudy" style="color: #dce1ea;"></i></div>
        <style> body{overflow: hidden;}</style>
        <!-- moved from styles.css so it doesn't apply to the weather.ejs  -->

        <div id="home" class="flex-container ">
            
                <div class="home-page-search">
                    <h1 class="title">Check the weather forecast</h1>        
                    <form action="/weather" method="POST">
                        <input type="text" name="place" placeholder="City name and country e.g. London, GB">
                        <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>           
                </div>

        </div>
        
        <div id="footer" class="flex-container ">
            <%- include("partials/footer.ejs"); -%>
        </div>
        <style>#footer { position:absolute; width: 100%; bottom: 0;} </style>
   

    </body>
</html>

<!-- publish node projects in github
https://docs.github.com/en/codespaces/setting-up-your-project-for-codespaces/adding-a-dev-container-configuration/setting-up-your-nodejs-project-for-codespaces
https://github.com/microsoft/vscode-remote-try-node
https://ubiquitous-space-palm-tree-qr7v976qvg629jj7.github.dev/ -->