html {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #0F1035;
    overflow: hidden;
    color: #DDDDDD;
  
}

body {
    margin: 0;
}

.title {
    color:#DDDDDD ; 
    width: 30rem;
    margin: 0 auto 2rem;
    text-align: center; 
}

.home {
    width: 80rem;
    z-index: 1;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    min-height: 0;
}


.home-page {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
}

.search {
    background-color: #424769;
    border-radius: 0.3rem;
    padding: 2rem;  
}

.search-txt {
    font-size: 1rem;
}

.weather-page {
    animation-fill-mode: forwards;
    display: flex;
    height: 100%;
    
}

form {
    background-color: #424769;
    height: 3rem; 
}

input {
    opacity: 60%;
    width: 90%;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
    color: #424769;
    font-size: 1rem;
}

input::placeholder {
    color: grey;
    
}

input:focus{
    border: none;
    background-color: #DDDDDD;
}


.search-btn {
    border: 0.1rem solid #DDDDDD;
    border-radius: 50%; 
    background-color: #424769;
    color:#DDDDDD;
    padding: 0.5rem;
    font-size: 1rem; 
    font-weight: 600;
    margin: 0 0 0 0.5rem;
    position: relative;
}
.search-btn:hover{
    cursor: pointer;
    
}

img {
    background-color: #818FB4;
    border-radius:50%;

}

.change-location-btn {
    border: none;
    background-color:#424769;
    width: 18rem;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    border: 0.1rem solid #DDDDDD;
    margin-bottom: 0;
    color:#DDDDDD;
    font-weight: 600;
    position: relative;
}
.change-location-btn:hover {
    cursor: pointer;
    transition: top ease 0.5s;
    top: -0.2rem;

}

.weather-card {
    background-color: #424769;
    animation: fadeInAnimation ease 10s;
    width: 37rem;
     align-items: center;
     justify-content: center;
    min-height: 0;
    padding: 2rem;
}
.weather-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.weather-card-dt-local {
  
    text-align: left;
}

.weather-card-description {
    width: 13rem;
    text-align: left;
}

.temp {
    font-size: 4rem;
}

.hidden {
    display: none;
}

.tempMes {
    font-size: 4rem;
    background-color: #424769;
    color: #DDDDDD;
    border: none;
}
.tempMes:hover {
    cursor: pointer;
}

.fahren {
    font-size: 2rem;
    background-color:#0F1035 ;
}

.hidden {
    display: none;
}

.des-text {
    font-size: 3rem;
}
.more-weather-details {
    animation: fadeInAnimation ease 12s;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 5rem;
    animation-fill-mode: forwards;
   
    
}

.mini-weather-cards {
    padding: 0;
    height: 15rem;
   
}
.mini-weather-card {
    width: 11rem;
    margin: 0 2rem 0.2rem ;
    background-color: #424769;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 0.2rem;
    display: inline-block;
}
.mini-weather-card-des {
    font-size: 1rem;
    border-top: 0.1rem solid #DDDDDD;
    width: 100%;
    
    
}
.todays-weather {

    text-align: center;
}

.items {
    margin: auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.basic-weather {
    display: flex;
    flex-grow: 1;
}

 .todays-mini-weather-card {
    width: 16rem;
    display: flex;
    text-align: center;
    padding: 0.1rem;
    background-color: #424769;
    border-radius: 0.2rem;
    margin: 0.6rem;
    display: inline-block;

    
}

.weather {
    height: 50rem;
}

.cloud { 
    width: 5rem;
    height: 4rem;
    opacity: 70%;
    z-index: 0;
    position: relative;
}
@keyframes movingCloudAnimationOne {
    0% {margin-left: -5rem;
    } 
     100% {
        margin-left: 100rem; }
     }@keyframes movingCloudAnimationTwo {
        0% {margin-left: -40rem;
        } 
         100% {
            margin-left: 90rem; }
         }@keyframes movingCloudAnimationThree {
            0% {margin-left: -10rem;
            } 
             100% {
                margin-left: 100rem; }
             }@keyframes movingCloudAnimationFour {
                0% {margin-left:  -70rem;
                } 
                 100% {
                    margin-left: 90rem; }
                 }@keyframes movingCloudAnimationFive {
                    0% {margin-left: -30rem;
                    } 
                     100% {
                        margin-left: 90rem; }
                     }

           @keyframes fadeInAnimation {
                0% {opacity: 0;
                } 
                 100% {
                   opacity: 1; }  }     
         @keyframes fadeAndMoveInAnimation {
            0% {top: 10rem;
            } 
             100% {
              bottom: 0; }  }    

.cloud-one{
    animation: movingCloudAnimationOne ease 70s;
    animation-iteration-count: infinite;
}
.cloud-two{
    animation: movingCloudAnimationTwo ease 70s;
    animation-iteration-count: infinite;
}.cloud-three{
    animation: movingCloudAnimationThree ease 70s;
    animation-iteration-count: infinite;
}.cloud-four{
    animation: movingCloudAnimationFour ease 70s;
    animation-iteration-count: infinite;
}.cloud-five{
    animation: movingCloudAnimationFive ease 70s;
    animation-iteration-count: infinite;
}

li {
    list-style: none;
}

.copyright-date {
    
    padding: 4rem 1rem 0;
   
}

*/
/* --------------------Device specs------------------------ */
@media only screen and (max-width: 900px) {
    html {
        overflow:visible;
        flex-wrap: wrap;
    } .weather-page {
        flex-wrap: wrap;
    }.weather-card {
        width: 100%;
    } .weather-data {
        justify-content: space-between;
        align-items: center; 
    } .change-location-link {
       height: 5rem;
    
    }.weather-card-general-weather {
        float: left;
        position: relative;
        
    }
    .more-weather-details {
      flex-wrap: wrap;
     
    } .mini-weather-card, .mini-weather-card-description {
        /* width: 9rem;
        height: 10rem;*/
        margin: 0.4rem;
        /* padding: 0;
        background-color: #424769;
        font-size: 0.5rem; 
        text-align: center;
        border-radius: 0.2rem;
        display: inline-block; */
    }
}
  