html {
    font-family: "Plus Jakarta Sans", sans-serif;
    /* background-image: linear-gradient(180deg, rgb(27, 44, 50), rgba(47, 81, 97, 0.726)); */
    background-color: #0F1035;
    overflow: hidden;
    color: #DDDDDD;
  
}

body {
    margin: 0;
    
}

.title {
    /* color: #46C2CB; */
    color:#DDDDDD ; 
    width: 30rem;
    margin: 0 auto 2rem;
    text-align: center; 

}

.home {
    /* text-align: center; */
    /* display: flex;
    flex-wrap: nowrap; */
    /* 
    flex-wrap: nowrap; */
    width: 80rem;
    /* min-height: 0; */
    /* margin: auto; */
    z-index: 1;
    /* https://www.shecodes.io/athena/72599-how-to-bring-an-element-to-the-front-in-css-using-z-index */
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    /*https://blog.hubspot.com/website/center-div-css*/
    min-height: 0;
    
    
    /* width: 40rem; min-width: 0; */
    /* position: relative; */
}


.home-page {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
}

.search {
    background-color: #424769;
    border-radius: 0.3rem;
    padding: 2rem;  
}

.search-txt {
    font-size: 1rem;
}

.weather-page {
    /* animation: fadeInAnimation ease 12s; */
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    
}

form {
    /* width: 40rem; */
    /* height: 8rem; */
    
    background-color: #424769;
    height: 3rem;
    
}

input{
    /* border-radius: 2rem; 
    https://developer.mozilla.org/en-US/docs/Web/CSS/border*/
    /* height: 3rem; */
    /* background-color: #DDDDDD; */
    opacity: 60%;
    width: 90%;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
    color: #424769;
    font-size: 1rem;
    
    /* margin-right: 3rem; */
    /* text-align: center; */
}

input::placeholder {
    color: grey;
    
}

input:focus{
    border: none;
    background-color: #DDDDDD;
}


.search-btn {
    /* border: none; */
    border: 0.1rem solid #DDDDDD;
    /* align-items: center;*/
    border-radius: 50%; 
    /* width: 3rem; */
    background-color: #424769;
    /* background-image: linear-gradient(45deg, rgba(47, 81, 97, 0.726), rgba(83, 114, 128, 0.612)); */
    color:#DDDDDD;
    padding: 0.5rem;
    font-size: 1rem; 
    font-weight: 600;
    margin: 0 0 0 0.5rem;
    position: relative;
    /* margin-left: 1rem; */
    /* box-shadow:  0.3rem  0.3rem  0.3rem rgb(116, 155, 169); */
}
.search-btn:hover{
    cursor: pointer;
    
}
/* ? */
/* .get-location {
    height: 3rem;
    width: 30rem;
    background-color:#424769;
    border:none;
   
    font-size: 1rem;
    color:#DDDDDD;
} 

.get-location:hover {
    cursor: pointer;
}*/
/* input:active {
    border-color: white;
} */
/* .location-change {
    text-align: center;
    height: 4rem;
} */

img {
    background-color: #818FB4;
    border-radius:50%;
    /* opacity: 60%; */
}

.change-location-btn {
    border: none;
    background-color:#424769;
    /* text-align:center; */
    width: 18rem;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    /* border-radius: 1rem; */
    border: 0.1rem solid #DDDDDD;
    margin-bottom: 0;
    color:#DDDDDD;
    font-weight: 600;
    position: relative;
    /* box-shadow:  0.3rem  0.3rem  0.3rem rgb(116, 155, 169); */
    /* top: 0;
     */
}
.change-location-btn:hover {
    cursor: pointer;
    transition: top ease 0.5s;
    top: -0.2rem;

}

/* i {
    width: 5rem;
} */
/* @keyframes btnHoverAnimation{
    100% 
} */

.weather-card {
    background-color: #424769;
    animation: fadeInAnimation ease 10s;
    /* background-image: linear-gradient(180deg, rgba(46, 60, 93, 0.612), rgb(47, 57, 63)); */
    /* background-image: linear-gradient(180deg, rgba(187, 187, 255, 0.612), rgb(145, 201, 220)); */
    /* border-radius: 5rem; */
    /* box-shadow: 1rem 1rem 2rem rgb(89, 126, 139); */
    width: 37rem;
    /* height: 30rem; */
    /* margin: auto auto 2rem; */
    /* display: flex;
    flex-wrap: wrap;
     */
     /* display: flex;
     flex-wrap: wrap; */
     align-items: center;
     justify-content: center;
    min-height: 0;
    padding: 2rem;
    /* animation: fadeAndMoveInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}
.weather-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
/* 
.weather-icon {
    width: 7rem;
} */

.weather-card-dt-local {
    /* font-size: 1rem; */
    text-align: left;
}

/* .weather-card-general-weather {
    width: 10rem;
    /* text-align: center; */



.weather-card-description {
    width: 13rem;
    text-align: left;
}

.temp {
    font-size: 4rem;
}

.hidden {
    display: none;
}

.tempMes {
    font-size: 4rem;
    background-color: #424769;
    color: #DDDDDD;
    border: none;
}
.tempMes:hover {
    cursor: pointer;
}

.fahren {
    font-size: 2rem;
    background-color:#0F1035 ;
}

.hidden {
    display: none;
}

.des-text {
    font-size: 3rem;
}
.more-weather-details {
    /* background-color: rgb(75, 79, 113); */
    /* border-radius: 5rem; */
    /* box-shadow: 1rem 1rem 2rem rgb(89, 126, 139); */
    animation: fadeInAnimation ease 12s;
    width: 100%;
    height: 100%;
    /* margin: auto auto 2rem; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: flex-start;  */
    /* left: 50%; */
    padding: 1rem 5rem;
    /* flex-direction: row;  transform: translate(0, -50%);*/
    /* flex-wrap: wrap; */
    /* min-height: 0; */
    /* padding: 2rem; */
    /* text-align: center; */
    /* animation: fadeInAnimation ease 12s; */
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
   
    
}

.mini-weather-card, .mini-weather-card-description {
    width: 11rem;
    height: 12rem;
    margin: 0.1rem 1rem 0.2rem ;
    padding: 0;
    background-color: #424769;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 0.2rem;
    display: inline-block;
}
.mini-weather-card-des {
    font-size: 1rem;
    border-top: 0.1rem solid #DDDDDD;
    
    
}
    

/* .mini-weather-card:hover {
    opacity: 40%;
} */

.items {
    margin: auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.basic-weather {
    display: flex;
    flex-grow: 1;
}

 .description {
    width: 16rem;
    height: 10rem;
    margin-bottom: 0;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}

/* h3 {
    text-align: left;
    font-size: 1rem;
} */
/* 
.text {
    
} */
/* .weather-text {
    color: rgba(100, 100, 157, 0.612); 
} */

.weather {
    height: 50rem;
}

.cloud { 
    width: 5rem;
    height: 4rem;
    opacity: 70%;
    /* overflow: hidden; */
    z-index: 0;
    position: relative;
}
@keyframes movingCloudAnimationOne {
    0% {margin-left: -5rem;
    } 
     100% {
        margin-left: 100rem; }
     }@keyframes movingCloudAnimationTwo {
        0% {margin-left: -40rem;
        } 
         100% {
            margin-left: 90rem; }
         }@keyframes movingCloudAnimationThree {
            0% {margin-left: -10rem;
            } 
             100% {
                margin-left: 100rem; }
             }@keyframes movingCloudAnimationFour {
                0% {margin-left:  -70rem;
                } 
                 100% {
                    margin-left: 90rem; }
                 }@keyframes movingCloudAnimationFive {
                    0% {margin-left: -30rem;
                    } 
                     100% {
                        margin-left: 90rem; }
                     }

           @keyframes fadeInAnimation {
                0% {opacity: 0;
                } 
                 100% {
                   opacity: 1; }  }     
         @keyframes fadeAndMoveInAnimation {
            0% {top: 10rem;
            } 
             100% {
              bottom: 0; }  }    
                   
/*                
@keyframes chngeBtnHover {
    0% {
        margin-bottom: 1rem;
    }
    100% {margin-bottom: 1rem;}
}
                   
         */
    


/* .cloud-one, .cloud-two, .cloud-three, .cloud-four, .cloud-five {
    overflow: hidden;}
      */
.cloud-one{
    animation: movingCloudAnimationOne ease 70s;
    animation-iteration-count: infinite;
}
.cloud-two{
    animation: movingCloudAnimationTwo ease 70s;
    animation-iteration-count: infinite;
}.cloud-three{
    animation: movingCloudAnimationThree ease 70s;
    animation-iteration-count: infinite;
}.cloud-four{
    animation: movingCloudAnimationFour ease 70s;
    animation-iteration-count: infinite;
}.cloud-five{
    animation: movingCloudAnimationFive ease 70s;
    animation-iteration-count: infinite;
}

li {
    list-style: none;
}

.copyright-date {
    
    padding: 4rem 1rem 0;
   
}

/* @keyframe{

} */
/* .cloudy {
    width: 20rem;
} */
/* form {
    margin: auto;
    text-align: ;
} 

There are four different combinators in CSS:

descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)




*/
/* --------------------Device specs------------------------ */
@media only screen and (max-width: 900px) {
    html {
        overflow:visible;
        flex-wrap: wrap;
    } .weather-page {
        flex-wrap: wrap;
    }.weather-card {
        width: 100%;
    } .weather-data {
        justify-content: space-between;
        align-items: center; 
    } .change-location-link {
       height: 5rem;
    
    }.weather-card-general-weather {
        float: left;
        position: relative;
        
    }
    .more-weather-details {
      flex-wrap: wrap;
     
    } .mini-weather-card, .mini-weather-card-description {
        /* width: 9rem;
        height: 10rem;*/
        margin: 0.4rem;
        /* padding: 0;
        background-color: #424769;
        font-size: 0.5rem; 
        text-align: center;
        border-radius: 0.2rem;
        display: inline-block; */
    }
}
  